.App {
  width: 100vw;
  height: 100vh;
}
.App header{
  background-image: url('https://m.media-amazon.com/images/G/01/kfw/landing/img_sky_bg._CB630820936_.png');
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.App header img{
  height: 39px;
  width: 209px;
  margin: 40px 5px 20px 5px;
}
.App header h2 {
  color: white;
}

#kindle_on_web {
  height: 262.104px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 0px;
  align-items: end;
}

#App__signIn {
  background-color: rgb(246, 220, 164);
}